html {
    font-size: 1rem;
}

body {
    margin: 0;
    padding: 0 5% 0 5%;
}

.backgroundOrange {
    background-color: #FF6B00;
}

.bodySection {
    background-color: #ffffff;
    width: 100%;
    height: auto;
}

.adjust {
    padding: 1%;
}

header {
    background-image: url("../img/header/header02.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 12.25rem;
    border-radius: .6em;
}

main {
    width: 70%;
    border-right: #b4b1b1 1px solid;
}

section {
    width: 30%;
    float: right;
    padding-left: 1%;
    padding-right: 1%;
}

footer {
    background-color: #3C3A3A;
    width: 100%;
    height: 11px;
    border-radius: 100px 100px 0 0;
    position: relative;
    bottom: 0;
}

.box {
    background-color: #FF6B00;
    padding: 2%;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 120px;
    width: 184px;
}

.boxInfomation {
    height: 127px;
    width: 230px;
    border: #FF6B00 1px solid;
    border-radius: 0 23px 0 23px;
}

.title {
    font-size: 0.8em;
    color: #FF6B00;
    font-weight: bold;
}

.description {
    font-size: 0.7rem;
    color: #FF6B00;
    font-weight: 600;
}

.exclamation {
    background-image: url("../img/logo/01.png");
    background-repeat: no-repeat;
    background-size: 12%;
}

/* estilo de box de operações do IMC, IAC e PH*/
.boxOperation {
    background-color:#FF6B00;
    height: 8.5rem;
    width: 98.5%;
    border-radius: .6em;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.textPerson {
    font-size: 1.5rem;
}

.box-result {
    border-radius: 1.5em;
    border: #FF6B00 0.1em solid;
    height: 5rem;
}

/* ID de temas das fontes do texto dentro do box-result*/
#theme-result-1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 300;
}

#theme-result {
    color: #FF6B00;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: bold;
}

/* Separador dentro da box*/
.separator-box {
    padding-top: .1rem;
    padding-bottom: .1rem;
    border-right: #FF6B00 1px solid;
}

h6 {
    font-family: 'Roboto' sans-serif;
    font-weight: lighter;
    color: #3C3A3A;
}

/* Box's das dicas de alimentos e  praticas fisicas */
.box-dicas-1 {
    background-color: #808080;
    height: 8rem;
    border-radius: .5em;
}

.box-dicas-2 {
    background-color: #3C3A3A;
    height: 8rem;
    border-radius: .5em;
}

.text-link {
    color: #ffffff;
}

